:host {
    width: 90%;
}

.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    margin-bottom: 15px;
  }
  
  .budget-section, .goals-section, .transactions-section {
    margin-bottom: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  .positive {
    color: green;
    font-weight: bold;
  }
  
  .negative {
    color: red;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .transactions-btn {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.alert-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}