:host {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.signup-container {
    width: 30%;
}

.btn-container {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.reg-text {
    color: #0B5ED7;
}

.reg-text:hover {
    color: blueviolet;
}

.form-group {
    margin-top: 1rem;
}

.alert {
    margin-top: 0.5rem;
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }