mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  mat-dialog-actions {
    margin-top: 15px;
  }
  
.login-container {
    padding: 1rem;
    width: 25vw;
    height: fit-content;
}

.form-group {
    padding: 0.2rem;
}

input {
    margin-top: 0.2rem;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.login-text {
  color: #0B5ED7;
}

.login-text:hover {
  color: blueviolet;
}
