<div class="pricing-section">
    <div class="container">
      <h2 class="text-center">Choose Your Plan</h2>
      <div class="row justify-content-center">
        <div class="col-md-4">
<app-price-card planName="3 Months" [price]="350" duration="3 months subscription"></app-price-card>
        </div>
        <div class="col-md-4">
          <app-price-card planName="6 Months" [price]="500" duration="6 months subscription"></app-price-card>
        </div>
        <div class="col-md-4">
          <app-price-card planName="1 Year" [price]="900" duration="1 year subscription"></app-price-card>
        </div>
      </div>
    </div>
  </div>
  