
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
}

.navbar-container {
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}