<div class="news-container">
    <h2>Latest Financial News</h2>
    <div class="news-grid">
        <div class="news-card" *ngFor="let article of articles">
            <div class="image-container">
                <img [src]="article.urlToImage" alt="Article Image" class="article-image" />
            </div>
            <div class="news-content">
                <h3 class="news-title">{{ article.title }}</h3>
                <p class="news-description">{{ article.description }}</p>
                <a [href]="article.url" target="_blank" class="news-link">Read more</a>
            </div>
        </div>
    </div>
</div>