.price-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    height: 100%;
  }
  
  .price-card:hover {
    transform: scale(1.05);
  }
  
  .price-header h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .price-header p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .price-body h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;

    background: linear-gradient(to right, #408cff, blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .price-body p {
    font-size: 1rem;
    color: #666;
  }
  
  .btn {
    width: fit-content;
    gap: 0.4rem;
    border: none;
    font-weight: semi-blod;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(
        15deg,
        #408cff, blueviolet, #bc3fcc, blueviolet, #408cff
      )
      no-repeat;
    background-size: 300%;
    background-position: right center;
    transition: background 0.3s ease;
    color: #fff;
  }
  
  .btn:hover {
    background-size: 320%;
    background-position: left center;
  }
  
  .btn:hover svg {
    fill: #fff;
  }
  
  .btn svg {
    width: 23px;
    fill: #f09f33;
    transition: 0.3s ease;
  }
  